<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="footer__container">
      <p class="license">
        <small>
          <a href="https://opensource.org/licenses/MIT" target="_blank">License</a> ·
          <a href="https://dergigi.com/support">Support</a>  ·
          <a href="https://github.com/fuckingshitcoins/fuckingshitcoins.github.io/blob/master/CONTRIBUTING.md">Contribute</a>
        </small>
      </p>
      {% include social.html %}
      <p class="sister_projects">
        <small>
          Sister projects:<br/>
          <a href="https://www.patreon.com/dergigi">21 Ways</a> ·
          <a href="https://21lessons.com">21 Lessons</a> ·
          <a href="https://www.bitcoin-quotes.com">Bitcoin Quotes</a> ·
          <a href="https://bitcoin-resources.com">Bitcoin Resources</a> ·
          <a href="https://opsecswag.com/">Opsec Swag</a>
        </small>
      </p>
      <p class="license">
        <small>
          Made with 🧡 by <a href="https://dergigi.com">Gigi</a>
        </small>
      </p>
    </div>
  </div>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
